doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title #{title}
		link(rel="stylesheet", href="/css/style.css")
		script( defer src="/socket.io/socket.io.js") 
		script( defer type="module", src="/js/page/home.js") 

	body 
		h2 Home Page
		h2(class='text-red-500') Home Page
		h2(class='text-purple-500') Home Page
		h2(class='text-purple-500') Home Page
